<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="web project.html"><img src="/postimage.jpg"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li> 
                <li><a href="#drop">ABOUT US</a></li>
                <li><a onclick="schemes()">SCHEMES</a></li>
                <li><a href="#complaints">COMPLAINTS</a></li>
            </ul>
        </div>
    </nav>
    <script>
        function schemes(){
        window.location.assign("/schemes");
    }
    </script>
</body>
</html>